@font-face {
    font-family: 'Sansation';
    src: url('SansationLight.woff2') format('woff2'),
        url('SansationLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

